[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
foundationdb = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
bandit = "*"
pylint = "*"
coverage = "*"
pytest-asyncio = "*"
cdiff = "*"
sphinx = "*"
codecov = "*"
"flake8" = "*"
daiquiri = "*"
pytest-cov = "*"
requests = "*"
