[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"foundationdb" = {file = "https://www.foundationdb.org/downloads/6.0.15/bindings/python/foundationdb-6.0.15.tar.gz"}

[dev-packages]
pre-commit = "*"
pytest = "*"
bandit = "*"
pylint = "*"
coverage = "*"
pytest-asyncio = "*"
cdiff = "*"
sphinx = "*"
codecov = "*"
"flake8" = "*"
daiquiri = "*"
pytest-cov = "*"
requests = "*"
