[tool.poetry]
name = "asyncio-foundationdb"
version = "0.10.4.dev3"
description = "asyncio drivers for FoundationDB"
authors = ["Amirouche <amirouche@hyper.dev>"]
license = "Apachev2"
readme = "README.md"
packages = [
    { include = "found" },
]
include = ["build.py", "fdb_c2.h", "fdb_c.h", "found/*.so"]
build = "build.py"

[tool.poetry.dependencies]
python = "^3.7"
cffi = "^1.14.5"
foundationdb = "^6.3.16"
immutables = "^0.15"
more-itertools = "^8.8.0"
zstandard = "^0.15.2"
aiostream = "^0.4.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
pytest-cov = "^2.12.1"
bandit = "^1.7.0"
pylama = "^7.7.1"


[build-system]
requires = ["poetry-core>=1.0.0", "cffi>=1.14.5"]
build-backend = "poetry.core.masonry.api"
